*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 100px 10px 50px 10px;
}

#header{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: 9999;
    padding:20px 25px;
    background-color: #333;
    transition: top 1s ease-in-out;
    /* padding-top: 25px; */
    /* background-color: #f4f4f4; */
    /* box-shadow: 0 0 4px #999; */
}
#header .heading a{
    color: #fff;
    text-decoration: none;
}
#header .heading{
    color: #fff;
    float: left;
    margin-top: 5px;
    font-size:28px;
    text-decoration: none;
    user-select: none;
}
    
/* For Menu Icon */
.menu-icon{
    display: inline-block;
    float:right;
    margin-top: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transform: rotate(0) translate(0);
    transition: transform .2s ease-in-out;
}

.bar{
    margin-bottom: 7px;
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin:  0 0 6px 0;
    border-radius: 3px;
    transform: rotate(0) translate(0);
    transition: transform .2s ease-in-out;
}

/* For Overlay */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    display: none;
    background-color: rgba(0,0,0,0.5);
}

/* For Side Bar */
.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100vh;
    width: 250px;
    padding-top: 50px;
    background-color: rgba(0,0,0,0.9);
    transform: translate3d(-250px,0,0); 
    transition: transform 0.3s ease-in-out ;
    overflow-y: scroll;
    border-right: 1px solid #444;
}
.side-bar::-webkit-scrollbar{
    display: none;
}


.menulist li{
    list-style: none;
}
.menulist > li{
    border-bottom: 1px solid #444 ;
}
.menulist li a{
    color: #fff;
    text-decoration: none;
}

/* For Lead Menu Items */
.lead-item{
    display: block;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
}
.lead-item:hover{
    background-color: #222;
}

/* For SubList  */
.head-list{
    cursor: pointer;
    color: #fff;
    position: relative;
}
/* For Icon */
.menulist li a .icon{
   margin-right: 10px; 
}
.head-list .icon{
    position: absolute;
    right: 15px;
    font-size: 15px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

/* For Icon */
/* .head-list:after{
    position: absolute;
    right: 8px;
    font-family: fontawesome;
    content: ">";
    color:#fff;
    margin-right: 10px;
    transform: rotate(90deg);
} */

.sublist{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #222;
}
.sublist li a , .sublist .head-list{
    display:block;
    font-size: 17px;
}

/* For Direct Sublist */
.menulist li > .sublist{
    padding: 0 20px;
}
.menulist li > .sublist a ,.menulist li > .sublist .head-list{
    padding:5px 10px;
    border-radius: 2px;
}
.menulist li > .sublist a:hover, .menulist li > .sublist .head-list:hover{
    background-color: #333;
}

/* For Sublist Sublist */
.menulist li > .sublist .sublist{
    padding: 0 10px;
}
.menulist li > .sublist .sublist a{
    font-size: 16px;
    padding: 3px 12px;
}


/* Classes For JS Use*/
.cross{
    transform: rotate(180deg) translateY(3px);
}
.cross .bar-1{
   transform: rotate(45deg) translate(8.4px,8px);
}
.cross .bar-2{
    opacity: 0;
}
.cross .bar-3{
    transform: rotate(-45deg) translate(5px,-5px);
}
.slide{
    transform: translate3d(0,0,0);  
}
.show{
    display: block;
}
.rotate-icon{
    transform: rotate(180deg);
}
/* Media Query */

@media screen and (min-width:500px){
    #header .heading{
        margin-left: 10px;
    }   
}

@media screen and (min-width:786px){
    #header .heading{
        margin-left: 60px;
    }  
    #header{
        padding: 20px 30px;
    } 
}